
ClockReminder/ClockReminder.xcodeproj/project.xcworkspace/xcshareddata/ClockReminder.xccheckout

ClockReminder/ClockReminder.xcodeproj/project.xcworkspace/xcuserdata/sinss.xcuserdatad/UserInterfaceState.xcuserstate
